doctype html

html

	body
		h1 Welcome #{name} !
		
		form(action = "/realtorpanel", method = "post")
			div.actions
				input(type = "submit", name = "action" , value = "crud")
				input(type = "submit", name = "action" , value = "change password")
				input(type = "submit", name = "action" , value = "change phone number")
				input(type = "submit", name = "action" , value = "change email")
				input(type = "submit", name = "action" , value = "change agency")
	br
	
	table
		thead
			tr
				td Realtor ID
				td First Name
				td Last Name
				td Agency
				td Phone Number
				td Email 
		tbody  
			tr 
				td #{realtor.realtorid}
				td #{realtor.first_name}
				td #{realtor.last_name}
				td #{realtor.agency}
				td #{realtor.phone_number}
				td #{realtor.email}  

